<div class="jumbotron">
  <div class="container">
    <div class="text-center">
      <h1 class="display-4">Trabajo Practico 3</h1>
      <p class="lead mt-5">El TP de los Juegos Oliımpicos de la Juventud!</p>
      <p class="lead">Alumnos: Federico Atanasoff - Marcos Vera</p>
      <hr class="my-4" />

      <a
        class="btn btn-primary btn-lg"
        href="https://github.com/fedeatanasoff/frontend-tp-progra3"
        role="button"
        target="_blank"
        >Visitar Repositorio</a
      >
    </div>

    <!-- /.row -->
    <div class="container">
      <div class="row">
        <h2 class="display-4 mx-auto mt-5">Tecnologias usadas</h2>
        <p class="mt-5">
          Para este trabajo se utilizó Java para crear toda la lógica de
          negocio, también creamos los métodos necesarios para poder crear el
          archivo JSON con el que luego trabajamos con Angular en el frontend.
          Para la maquetación utilizamos Bootstrap, que ya nos provee algunos
          componentes reutilizables. Luego con Node.js, además de instalar todas
          las dependencias utilizadas desde el frontend , configuramos la
          aplicación para que podamos desplegarla en Heroku que nos provee
          servicio de hosting gratuito.
        </p>
      </div>
    </div>

    <div class="row justify-content-md-center mt-5">
      <div class="col-sm mt-3">
        <img
          class="rounded-circle"
          src="../../../assets/img/tecnologias/java.png"
          alt="java"
          width="120"
          height="120"
        />
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm mt-3">
        <img
          class="rounded-circle"
          src="../../../assets/img/tecnologias/node.png"
          alt="node"
          width="120"
          height="120"
        />
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm mt-3">
        <img
          class="rounded-circle"
          src="../../../assets/img/tecnologias/angular.png"
          alt="angular"
          width="120"
          height="120"
        />
      </div>
      <div class="col-sm mt-3">
        <img
          class="rounded-circle mx-auto"
          src="../../../assets/img/tecnologias/bootstrap.png"
          alt="bootstrap"
          width="120"
          height="120"
        />
      </div>
      <div class="col-sm mt-3 mx-auto">
        <img
          class="rounded-circle mx-auto"
          src="../../../assets/img/tecnologias/heroku.png"
          alt="heroku"
          width="120"
          height="120"
        />
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div>
</div>
