<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Trabajo Practico 3</h1>
    <p class="lead">El TP de los Juegos Oliımpicos de la Juventud!</p>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <a
      class="btn btn-primary btn-lg"
      href="https://github.com/fedeatanasoff/frontend-tp-progra3"
      role="button"
      target="_blank"
      >Visitar Repositorio</a
    >
  </div>
</div>
