<div class="container mt-5 animated fedeIn ">
  <h2 class="display-4 text-center animated fedeIn">Departamentos</h2>

  <div class="card-columns mt-5">
    <div
      class="card text-center bg-light text-dark"
      *ngFor="let depto of departamentos"
    >
      <div class="card-body">
        <h5 class="card-title">Departamento #{{ depto.id }}</h5>
        <div class="card-title">
          Genero:
          <img
            src="../../../assets/img/icon-{{ depto.atletas[0].genero | lowercase }}.png"
            alt=""
            width="15rem"
          />
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-3" *ngFor="let atleta of depto.atletas">
            <img
              src="../../../assets/img/banderas/{{ atleta.nacionalidad | lowercase }}.png"
              alt=""
              width="50rem"
              class="mt-1"
            />
            <img
              src="../../../assets/img/deportes/{{ atleta.deporte | lowercase }}.png"
              alt=""
              width="50em"
              class="mt-1"
            />
          </div>
        </div>
        <div class="card-text mt-3">
          <button
            (click)="verAtletas(depto.id)"
            type="button"
            class="btn btn-warning"
          >
            ver atletas
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
