<div class="container mt-5">
  <h2 class="display-4 text-center">Buscando: {{ texto }}</h2>
  <div class="row mt-5" *ngIf="atletas.length === 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        no existen resultados para: {{ texto }}
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center mt-5">
    <div class="col-sm" *ngFor="let atleta of atletas">
      <div class="media">
        <img
          class="mr-3"
          src="../../../assets/img/{{ atleta.genero | lowercase }}.png"
          alt="Generic placeholder image"
          width="64px"
        />
        <div class="media-body">
          <h5 class="mt-0">
            {{ atleta.nombre }} <small>- {{ atleta.nacionalidad }}</small>
          </h5>
          <p>{{ atleta.deporte }}</p>
        </div>
      </div>
    </div>
  </div>

  ,
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-3">
      <a [routerLink]="['/departamentos']" class="btn btn-info"
        >Regresar a Departamentos</a
      >
    </div>
  </div>
</div>
