<div class="container">
  <h1>Buscando: {{ texto }}</h1>
  <div class="row" *ngIf="atletas.length === 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        no existen resultados para: {{ texto }}
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;" *ngFor="let atleta of atletas">
    <div class="card-body">
      <h5 class="card-title">
        {{ atleta.nombre }} <small>- {{ atleta.nacionalidad }}</small>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ atleta.deporte }}</h6>
    </div>
  </div>
  <a [routerLink]="['/departamentos']" class="btn btn-info">Regresar</a>
</div>
